@media (min-width: 1200px) {
  /* .about-title { */
  /*   padding: 150px 0; */
  /* } */
  .about-header {
    padding: 120px 0;
  }
  .portfolio-header {
    padding: 120px 0;
  }
  .detail-portfolio-item {
    min-height: 100vh;
    padding: 120px 0;
  }
  .detail-portfolio-body {
    padding: 200px 200px;
  }
  .breadcrumb-container {
    padding: 0 200px;
  }
  .portfolio-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .portfolio-category  {
    font-size: 1.5rem;
  }
  .portfolio-item-group {
    display: flex;
    justify-content: center;
    flex: 1 1 calc(33.333% - 60px);
    box-sizing: border-box;
    margin: 0;
  }
  .main-product-title {
    font-size: 4rem;
  }
  .subtitle {
    margin: 20px 0 40px 0;
    font-size: 1.5rem;
  }
  .portfolio-item-decription-container {
    padding: 50px 200px;
  }
  .description-group {
    display: flex;
    justify-content: space-between;
  }
  .description-container {
    width: 30%;
  }
  .description-title {
    font-size: 2rem;
    font-weight: 700;
   color: rgb(0, 102, 255);
  }
  .description-content {
    font-size: 1rem;
  }
  .main-container-of-description {
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
}

* {
  /* outline: 2px solid red; */
}
