.copyrights {
  border-top: 1px solid rgb(180, 180, 180);
}
@media (max-width: 768px) {
  .footer-container {
    padding: 0 35px;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    padding: 0 200px;
  }
}